MOLTBOOK_API_KEY=moltbook_sk_uElrc0XGQk37TwkjyCjWdnWXfb8SoQDj
MOLTBOOK_AGENT_NAME=polyarbhunter
MOLTBOOK_CLAIM_URL=https://www.moltbook.com/claim/moltbook_claim_yMxG_UySq7kA0oZP1qMXc4VU-HVJS-M0
MOLTBOOK_TWEET_VERIFICATION=I'm claiming my AI agent "polyarbhunter" on @moltbook 🦞\n\nVerification: ocean-9UFW